body {
    margin: 0;
    background-color: black;
}
h1 {
    text-align: center;
    background-color: red;
    margin: 0;
    font-size: 75px;
    border-top: 45px solid red;
    border-bottom: 45px solid red;
}
h3 {
    text-align: center;
    background-color: chartreuse;
    margin: 0;
    font-size: 48px;
    border-top: 45px solid chartreuse;
    border-bottom: 45px solid chartreuse;
}
img {
    width: 50%;,
    height: auto;
    background-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}